* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Headings */
/* --- Headings --- */

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 1px;

}

h1 {
  margin: 0 0 20px 0;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin: 0 0 15px 0;
}

/* Nav */
.main-nav {
  float: top;
  list-style: none;
  margin: 10px;
}

.main-nav li {
  display: inline-block;
  margin-left: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  padding: 8px 0px;
  color: black;
  text-transform: uppercase;
  font-size: 90%;
  word-spacing: 3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
