* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Headings */

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin: 0 0 15px 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
}

/* Navbar Navigation Links */
.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Navbar Hover Effect */
.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.site-title {
  width: 70%;
  margin: 50px 15% 30px 15%;
  text-align: center;
}

.site-description {
  line-height: 145%;
  width: 70%;
  margin: 0 15%;
  text-align: center;
}
